<h2>share buttons</h2>

<div class="fixed-action-btn">
  <a class="btn-floating red pulse"><i class="fa fa-share-alt"></i></a>
  <ul>
    <li><a class="btn-floating indigo darken-3" (click)=" shareOnFacebook()"><i class="fa fa-facebook"></i></a></li>
    <li><a class="btn-floating light-blue darken-3" (click)="shareOnTwitter()"><i class="fa fa-twitter"></i></a></li>
    <li><a class="btn-floating green darken-3" (click)="shareOnWhatsApp()"><i class="fa fa-whatsapp"></i></a></li>
    <li><a class="btn-floating light-blue darken-3" (click)="shareOnLinkedIn()"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="btn-floating red darken-3" (click)="shareOnGooglePlus()"><i class="fa fa-google-plus"></i></a></li>
  </ul>
</div>


<li><a class="btn-floating indigo darken-3" (click)="shareOnFacebook()"><i class="fab fa-facebook"></i></a></li>
<li><a class="btn-floating light-blue darken-3" (click)="shareOnTwitter()"><i class="fab fa-twitter"></i></a></li>
<li><a class="btn-floating green darken-3" (click)="shareOnWhatsApp()"><i class="fab fa-whatsapp"></i></a></li>
<li><a class="btn-floating light-blue darken-3" (click)="shareOnLinkedIn()"><i class="fab fa-linkedin"></i></a></li>
<li><a class="btn-floating red darken-3" (click)="shareOnGooglePlus()"><i class="fab fa-google-plus"></i></a></li>


    
   